body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.lead {
  margin: 2rem;
  position: right;
}

.baris2{
  margin: 2rem;
}
.featurette-divider {
  margin: 2rem 0;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    margin: 2rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table thead {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  /* margin: auto; */
}

h1,
h2 {
  text-align: left;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: white;
  padding: max-content;
  width: 100%;
  padding: 10px;
}

